<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ page.call-to-action.splashtext }}</h2>
                <hr class="light">
                {% if page.call-to-action.subsplashtext %}
                <p class="text-faded">{{ page.call-to-action.subsplashtext }}</p>
                {% endif %}
                {% if page.call-to-action.splashbuttontext %}
                <a href="#" class="btn btn-default btn-xl">{{ page.call-to-action.splashbuttontext }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
